*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto',sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(/images/dd.jpg);
    background-position:center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.navbar{
    height:12%;
    display:flex;
    align-items: center;
}
.logo{
    width: 50px;
    cursor: pointer;
}
.menu-icon{
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
}
nav{
    flex:1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size:13px;

}
.row{
    display: flex;
    height: 80%;
    align-items:center;
}
.col{
    flex-basis: 50%;
}
h1{
    color: #fff;
    font-size:100px;
}
p{
    color: #fff;
    font-size:11px;
    line-height: 15px;
}


.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-image: url(/images/floyd.jfif);
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.card1{
    background-image: url(/images/floyd.jfif);
}
.card2{
    background-image: url(/images/creed.jpg);
}
.card3{
    background-image: url(/images/linkin\ park.jpg);
}
.card4{
    background-image: url(/images/nirvana.jpg);
}
.card:hover{
    transform: translateY(-10px);
}
/* From cssbuttons.io by @alexmaracinaru */
button {
    cursor: pointer;
    font-weight: 600;
    font-family: Helvetica,"sans-serif";
    transition: all .2s;
    padding: 10px 20px;
    border-radius: 50px;
    background: #cfef00;
    border: 1px solid transparent;
    display: flex;
    align-items: center;
    font-size: 15px;
   }
   
   button:hover {
    background: #a6c900;
   }
   
   button > svg {
    width: 25px;
    margin-left: 10px;
    transition: transform .3s ease-in-out;
   }
   
   button:hover svg {
    transform: translateX(5px);
   }
   
   button:active {
    transform: scale(0.95);
   }
   nav ul li a:hover{
       color: yellow;
   }
  
   